html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container{
  height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



.hour-text{
  width: 400px;
  height: 100px;
  margin-bottom: 100px;

}

.date{
  font-family: 'Nova Flat', cursive;
  color: rgb(90, 88, 88);
  margin-left: 18px;

}

.text{
  font-family: 'Nova Flat', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 174px;
  text-align: center;
  margin-top: 40px;
  margin-left: 18px;
  color: #FFDADA;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.slider{
  width: 1045px;
  height: 0px;
  border-radius: 10px;
  border: 7px solid #341010;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.humor-percent{
  height: 103px;
  margin-bottom: 50px;

  

}

.ball{
  width: 32px;
  height: 29px;
  margin-right: -20px;
  margin-left: -20px;
  border-radius: 50%;
  background: #341010;
  mix-blend-mode: darken;
  border: 1px solid #000000;  
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.emotions{
  margin-top: 70px;
  padding-bottom: 15px;
  width: 1100px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.emote1{
  width: 10px;
  margin-bottom: 100px;
  margin-top: 5px;
}

.emote2{
  width: 10px;
  margin-top: -20px;
  margin-right: 60px;
}

.emote3{
  width: 10px;
  
  margin-left: 30px;
}

.buttonFather{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

@media (max-width: 800px) {


  .container{
    height: 250px;
    max-width: 100%;
  }  

  .emote1{
    margin-bottom: 90px;
  }
  .emote2{
    margin-top: -3px;
  }

  .emote3{
    margin-top: 3px;
  }

  .emotions{

    height: 120px;
    margin-top: 180px;
    width: 300px;

  }

  .slider{
    width: 300px;
    
    margin-bottom: 50px;
  }

  .text{
    font-size: 96px;
    line-height: 0px;
    margin-left: 10px;
    width: 374px;
  }

  .buttonFather{
    margin-top: 280px;
  }
  
  .date{

    margin-left: 0px;
  }

  .ball{
  width: 20px;
  height: 20px;
  }
}


.motherButton{
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}




